#react-select-2--value-item {
  color: #879AA2
}


/* InfoWindow */
/*.gm-style-iw + div {display: none;}*/

#storemapper .storemapper-iw-layout .storemapper-iw-triangle-shadow {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 24px solid rgba(0, 0, 0, 0.0980392);
}

.speedButton:hover{
  color: #4192B7 !important;
  border: 1px solid #4192B7 !important;
}
